/*
 * Written by Zain Afzal
 * Box shadow from https://codepen.io/sdthornton/pen/wBZdXq
 * 13/6/2018
 *
 * Colour Scheme
 *     #e7568d, #efa26c, #4bc6e7
 *     #222222, #EBEBEB, #FFFFFF
 */

body {
  /* fallback for old browsers */
  background: #efa26c;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #e7568d, #efa26c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #e7568d, #efa26c);
}

.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
}

/* animations */
@keyframes hr-expand {
    from {width: 0%}
    to {width: 100%}
}

/* Nav Elements */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav-elem {
  font-family: 'Gloria Hallelujah', cursive;
  color: #222;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}
.nav-elem hr {
  border: none;
  margin: 0;
  height: 3px;
  width: 0%;
  background-color: #222;
}
.nav-elem:hover > hr {
  animation-name: hr-expand;
  animation-duration: 0.5s;
  width: 100%;
}

.nav-elem.current hr {
  width: 100%;
}
/* Title psudo bootstrap flex boxes */
.title {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.profile {
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.title h1{
  font-weight: 100;
  font-family: 'Pacifico', cursive;
  color: #222;
  font-size: 3rem;
  text-shadow: 1px 1px #ffffff;
}

@media (max-width: 720px){
  .title .left {
    width: 50%;
    order: 2;
  }
  .title .center {
    width: 100%;
    order: 1;
  }
  .title .right {
    width: 50%;
    order: 3;
  }
}

@media (min-width: 721px) and (max-width: 960px){
  .title .left {
    width: 25%;
  }
  .title .center {
    width: 50%;
  }
  .title .right {
    width: 25%;
  }
}

@media (min-width: 961px){
  .title .left {
    width: 30%;
  }
  .title .center {
    width: 40%;
  }
  .title .right {
    width: 30%;
  }
}
